@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');


body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul li{
    padding: 0 12px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varella Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    min-width: 250px;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg.jpg");
    
}

.bottom {
    position: fixed;
    bottom: 0;
    min-height: 40px;
    width: 100vw;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    padding: 2vw auto;
}

.icons {
    margin-top: 12px;
    
}
.icons i {
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 60px;
}

.songList{
    min-width: 75px;
    max-width: 500px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 44px;
    margin: 0 15px;
    border-radius: 34px;
}


.songName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 80px;
    max-width: 400px;
    margin-right: 20px;
}

.timestamp{
    display: flex;
    justify-items: center;
    right: 10px;
    
}

.timestamp i{
    cursor: pointer;
    margin: 0 20px;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varella Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.6s ease-in;
}

.icons i{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

input{
    margin: 20px auto;
}

.space{
    height: 10vw;
}

@media only screen and (max-width: 920px) {
    body {
      background-color: red;
    }
    .songInfo{
        position: relative;
        left: -5vw;
        font-family: 'Varella Round', sans-serif;
    }
    input{
        margin: 20px auto;
    }
    .space{
        height: 30vw;
    }
  }